.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 550px;
  width: 1300px;
  padding-top: 10px;
}

.App-header {
  /* background-color: rgb(253, 253, 253); */
  background-color: rgb(201,204,183);
  height: 600px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.menulogo {
  position: absolute;
  top: 15px;
  left: 15px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(88, 82, 82);
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif; /* Helvetica, sans-serif*/
  font-size: 80 px;
  box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(192, 181, 181);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.general{
  left: 600px; 
  text-align: center;
}

.imgcontainer{
  text-align: center;
  padding-top: 20px;
}

.labels{
  text-align: left
}
.log-in{
  /* text-align: center; */
  /* background: url();
  background-image: 'url(" + bglogin.png + ")';
  background-color: 'red'; */
  /* color : #ef5350; */
  text-align: center;
  padding: remy(32px);
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: remy(380px);
  width: 400px;
  color: rgb(255, 255, 255);
  background-color: rgb(65, 60, 60);
  box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
  border-radius: 8px;
}

.temp{
  text-align: center;
  /* background-image: url("bglogin.png") */
}

.myBigGreenDialog {
  background-color: rgb(80, 190, 218);
  color : #ef5350;
  width: '60%';
  height: '900px';
  text-align: center
}

.btn_sign_up { 
  background-color: #ef5350;
  border: none;
  padding: 10px;
  width: 190px;
  border-radius:3px;
  box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

.btn_login { 
  background-color: #ef5350;
  border: none;
  padding: 10px;
  width: 150px;
  border-radius:3px;
  box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

.btn_logout { 
  background-color: #ef5350;
  border: none;
  padding: 10px;
  width: 100px;
  border-radius:3px;
  box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  /* padding-left: 20px; */
}

.fonts {
  font-size: 11px;
  color: #fff
}

.input_fields {
  border: none;
  padding: 7px;
  width: 190px;
  border-radius:3px;
  box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
  margin-top: 2px;
  cursor: text;
  color: black
}

.blackcolor{
  color: rgb(255, 255, 255);
}
.container{
  height: 300px;
  width: 100%;
  background-color: rgb(40, 37, 44);
}
.container-element1{
  /* position: absolute; */
  top: 100px;
  left: 16px;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
.container-element2{
  position: absolute;
  top: 800px;
  left: 500px;
  color: white;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 40px;
}
.container-element3{
  position: absolute;
  top: 800px;
  right: 16px;
  color: white;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 40px;
}

.div-container{
  padding-left: 30px;
  padding-right: 30px;
}

.boxing{
  box-sizing: border-box;
  box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
  background: rgb(209, 203, 203);
}
 /* Used in Company information */
.right{
  padding-top: 20px;
  text-align: right;
  padding-right: 50px;
}

.spanTemp{
  padding-left: 10px;
}

.carouseltemp{
  padding-left: 300px;
}

/* used in Information.js */
.roundshape{
    border-radius: 50%;
    background: #ef5350;
    line-height: 150px;
    text-align: center;
    color: rgb(255, 255, 255); 
    width: 150px;
    height: 150px;
    font-size: 30px;
}

/* used in Information.js */
.roundshapecenter{
    border-radius: 150px;
    background: rgb(114, 117, 119);
    color: rgb(255, 255, 255);
    line-height: 200px;
    text-align: center;
    width: 200px;
    height: 200px;
    font-size: 50px;
}

.roundshapeheadingprevious{
  padding-left: 32px;
}

.roundshapeheadingnext{
  padding-left: 45px;
}

.roundshapeheadingcenter{
  padding-left: 60px;
}

.lefticon{
  padding-left: 60%;
}

.righticon{
  padding-left: 5%;
}

.doneicon{
  padding-left: 45%;
}

.roundbuttonnext{
  border-radius: 50%;
  background: #55ef50;
  line-height: 50px;
  text-align: center;
  color: rgb(255, 255, 255); 
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.roundbuttonnoshow{
  border-radius: 50%;
  background: #e21111;
  line-height: 50px;
  text-align: center;
  color: rgb(255, 255, 255); 
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.roundbuttondone{
  border-radius: 50%;
  background: #02a3a3;
  line-height: 50px;
  text-align: center;
  color: rgb(255, 255, 255); 
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.contactform{
  text-align: left;
  padding-top: 1px;
  padding-left: 40px;
  padding: remy(32px);
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: remy(380px);
  width: 700px;
  height: 470px;
  color: rgb(255, 255, 255);
  background-color: rgb(65, 60, 60);
  box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
  border-radius: 8px;
}

.textarea {
  border: none;
  padding: 7px;
  width: 500px;
  border-radius:3px;
  box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
  margin-top: 2px;
  cursor: text;
  color: black
}

.backgroundColordiv{
  background-color: #575a5a;
  padding-top: 1px;
  padding-bottom: 5px;
}

.homeparagraph{
  color: rgb(0, 0, 0);
  font-size:  x-large;
  text-align: justify;
  text-justify: inter-cluster;
  padding-bottom: 40px;
  padding-top: 60px;
  padding-left: 90px;
  padding-right: 90px;
}

.input_field_confirmemail {
  border: none;
  padding: 7px;
  width: 350px;
  border-radius:3px;
  box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
  margin-top: 2px;
  cursor: text;
  color: black
}